<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Продуктовый помощник</title>
    {% load static %}
    <link rel="stylesheet" href="{% block css %}{% static 'pages/index.css' %}{% endblock %}">
</head>
<body class="body">
    {% block content %}
        {% include "header.html" with index=True %}

                <!-- Содержимое страницы -->
    {% endblock content %}
    {% include "footer.html" %}

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    {% block js-scripts %}
    {% endblock js-scripts %}
    
</body>
</html>
