{% extends "base.html" %}
{% block title %}Рецепты{% endblock %}
{% include 'post_list.html' with page=page paginator=paginator %}

{% block js-scripts %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    
    
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexNotAuth.js' %}"></script>

    {% if user.is_authenticated %}
        <script src="./js/components/Favorites.js"></script>
        <script src="indexAuth.js"></script>
    {% else %}
        <script src="indexNotAuth.js"></script>
    {% endif %}
{% endblock js-scripts %}