{% extends "base.html" %}
{% block title %}Рецепты{% endblock %}
{% block content %}
    {% include 'card_list.html' with page=page paginator=paginator %}
{% endblock content %}

{% block js-scripts %}
    
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    
    <script src="{% static 'js/config/config.js' %}"></script>
    
    
    <script src="{% static 'js/api/Api.js' %}"></script>

    {% if user.is_authenticated %}
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'indexAuth.js' %}"></script>
    {% else %}
        <script src="{% static 'indexNotAuth.js' %}"></script>
    {% endif %}
{% endblock js-scripts %}